.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .card {
    display: inline-block;
  }
  
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .scrolling-wrapper .card {
    flex: 0 0 auto;
  }
  
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
  
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  #tiff-container {height: 100%;}
  #tiff-container div {height: 100%;}
  #tiff-container #footer{ display: none;}
  
  